#output-preview iframe body{
    background-color: black;
    padding: 0%;
    margin: 0%;
}
#blackout-overlay {
    width:100%;
    height:100%;
    background:black;
    opacity:0;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
}
body.blackout #blackout-overlay {
    opacity:1;
}
#shape-overlay
{
    width:100%;
    height:100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../src/shapes/transparent.png');
    position: absolute;
    top: 0px;
    left: 0px;
}
body.shape-rotate #shape-overlay
{
    -webkit-animation: rotate 5s infinite linear;
    -moz-animation: rotate 5s infinite linear;
    animation: rotate 5s infinite linear;
}
@keyframes rotate{
    0% { transform:rotate(0); }
    100% { transform:rotate(360deg); }
}
body.shape-fade0_5s #shape-overlay
{
    transition: background-image 0.5s;
    -moz-transition: background-image 0.5s;
    -webkit-transition: background-image 0.5s;
    -o-transition: background-image 0.5s;
}
body.shape-fade1s #shape-overlay
{
    transition: background-image 1s;
    -moz-transition: background-image 1s;
    -webkit-transition: background-image 1s;
    -o-transition: background-image 1s;
}
body.shape-fade2s #shape-overlay
{
    transition: background-image 2s;
    -moz-transition: background-image 2s;
    -webkit-transition: background-image 2s;
    -o-transition: background-image 2s;
}
body.shape-fade3s #shape-overlay
{
    transition: background-image 3s;
    -moz-transition: background-image 3s;
    -webkit-transition: background-image 3s;
    -o-transition: background-image 3s;
}
body.shape-fade4s #shape-overlay
{
    transition: background-image 4s;
    -moz-transition: background-image 4s;
    -webkit-transition: background-image 4s;
    -o-transition: background-image 4s;
}
body.shape-fade5s #shape-overlay
{
    transition: background-image 5s;
    -moz-transition: background-image 5s;
    -webkit-transition: background-image 5s;
    -o-transition: background-image 5s;
}
body.shape-fade10s #shape-overlay
{
    transition: background-image 10s;
    -moz-transition: background-image 10s;
    -webkit-transition: background-image 10s;
    -o-transition: background-image 10s;
}
body.shape-heart #shape-overlay {
    background-image: url('../src/shapes/heart.png');
}
body.shape-star #shape-overlay {
    background-image: url('../src/shapes/star.png');
}
body.red #shape-overlay{
    background-color: red;
}
body.white #shape-overlay{
    background-color: white;
}
body.green #shape-overlay {
    background-color: green;
}
body.blue #shape-overlay{
    background-color: blue;
}
body.darkOrange #shape-overlay {
    background-color: ;
}
body.orange #shape-overlay{
    background-color: orange;
}
body.yellow #shape-overlay {
    background-color: yellow;
}
body.cyan #shape-overlay{
    background-color: ;
}
body.lightGreen #shape-overlay {
    background-color: ;
}
body.darkGreen #shape-overlay{
    background-color: white;
}
body.lightGreen #shape-overlay{
    background-color: white;
}
.col-fade0_5s, body.col-fade0_5s #shape-overlay{
    transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}
.col-fade1s, body.col-fade1s #shape-overlay{
    transition: background-color 1s;
    -moz-transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
}
.col-fade2s, body.col-fade2s #shape-overlay {
    transition: background-color 2s;
    -moz-transition: background-color 2s;
    -webkit-transition: background-color 2s;
    -o-transition: background-color 2s;
}
.col-fade3s, body.col-fade3s #shape-overlay {
    transition: background-color 3s;
    -moz-transition: background-color 3s;
    -webkit-transition: background-color 3s;
    -o-transition: background-color 3s;
}
.col-fade4s, body.col-fade4s #shape-overlay {
    transition: background-color 4s;
    -moz-transition: background-color 4s;
    -webkit-transition: background-color 4s;
    -o-transition: background-color 4s;
}
.col-fade5s, body.col-fade5s #shape-overlay {
    transition: background-color 5s;
    -moz-transition: background-color 5s;
    -webkit-transition: background-color 5s;
    -o-transition: background-color 5s;
}
.col-fade10s, body.col-fade10s #shape-overlay {
    transition: background-color 10s;
    -moz-transition: background-color 10s;
    -webkit-transition: background-color 10s;
    -o-transition: background-color 10s;
}
